/* Body */
body {
  margin: 0;
  background: #f4f5f7;
  font-family: 'Ubuntu', sans-serif;
}


.customNav {
  position: fixed;
  width: 100%;
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 33px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}


/* Navigation links */
.customNav a:hover {
  color: rgb(0, 0, 0) !important;
}

.navCTA {
  font-size: 15px;
}
.nav-item {
  font-size: 25px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  color: #505D68;
}



/* Jumbotron  */
.jumbotron {
  background-image: url(Images/locations.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Jumbotron copy */
.jumboCopy {
  width: 70%;
  color: white;
  text-align: center;
}


/* Jumbotron  */
.jumbotron2 {
  background-image: url(Images/latestsermon.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(75vh);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 70%;
  margin-top: 13rem;
}
.rounded {
  border-radius: 25rem !important;
}

/* Jumbotron copy */
.jumboCopy2 {
  width: 70%;
  color: white;
  text-align: center;
}

/* Cards */  
.content {
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 50px;
}
.cardContainer {
  text-align: left;
}
#cards {
  display: flex;
  justify-content: center;
}



/* Ministries
.img-wrapper {
  position: relative;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  /* height: 75%;
} */
/* .btn-responsive {
  /* matches 'btn-md' */
  /* padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
@media (max-width:760px) {
  /* matches 'btn-xs' */
  /* .btn-responsive {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
/* } */ */ */ */ */



/* Typography */
h1 {
  color: #ffffff;
  text-align: center;
  font-family: 'Ubuntu'; 
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
}
h2 {
  color: #ffffff;
  text-align: center;
  font-family: 'Ubuntu'; 
  font-style: normal;
  font-weight: normal;
  font-size: 175px;
}



#categoryGrid {
    margin: 0px 15%;
    display: grid;
    grid-template-rows: 350px 350px 350px 350px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "whoweare locations locations"
    "watch connect connect"
    "secondkids secondstudents secondstudents"
    "giving giving giving"
    ;
  }

button {
  width: auto;
  margin: 5px 0% 5px;
  margin-bottom: 10px;
  height: 25px;
  background-color: #739DD3 !important;
  font-family: 'Ubuntu';
}



  #whoweare {
    grid-area: whoweare;
    background-image: url("Images/whoweare.jpg");
  }
  
  #locations {
    grid-area: locations;
    background-image: url("Images/inperson.png");
  }
  
  #watch {
    grid-area: watch;
    background-image: url("Images/watch.jpg");
  }
  
  #connect {
    grid-area: connect;
    background-image: url("Images/connect.png");
  }
  
  #secondkids {
    grid-area: secondkids;
    background-image: url("Images/secondkids.jpg");
  }

  #secondstudents {
      grid-area: secondstudents;
      background-image: url("Images/secondstudents.jpg")
  }

  #giving {
      grid-area: giving;
      background-image: url("Images/give.jpg");
  }



  .categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    padding: 60px;
    border-radius: 20px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }
  
  .heading {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 15px;
    height: 68px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}


/* Footer */
.footer-container {
    background-color: #ffffff;
    padding: 4rem 0 4rem 0;
}

.footer {
    width: 100%;
    height: 40vh;
    background-color: #ffffff;
    color: #9a9a9a;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h3 {
    margin-bottom: 1rem;
}

.footer-heading a {
    color: #424B5A;
    text-decoration: none;
    margin-bottom: 1.5rem;
    font-size: 22px;
}

.footer-heading a:hover {
    color: #739DD3;
    transition: 0.3s ease-out;
}